/* @font-face {
    font-family: interRegular;
    src: url('/public/fonts/Inter-Regular.ttf');
  }
  
  @font-face {
    font-family: interSemiBold;
    src: url('/public/fonts/Inter-SemiBold.ttf');
  } */